# Strings

In [108]:
# Simple slicing

b = "Hello, World!"
print(b[2:5]) #de la index 2 pana la 4(5-1)

llo

In [107]:
# Slicing from the start

b = "Hello, World!"
print(b[:5]) #totul pana la index 5 (5-1=4)
# as it is a variable, the value of 'b' remains the last value accessed !

Hello

In [106]:
# Slicing to the end

c = "Hello, World!"
print(b[1:])

ello, World!

In [105]:
# Negative Indexing

b = "Hello, World!"
print(b[-5:-2]) #incepe de la final spre inceput. Indexarea este inversa: [(-5+1= -4); -2]

orl

In [104]:
# Making the entire string composed of upper cases.

A = 'Hello World!'
print(A.upper())

HELLO WORLD!

In [103]:
# Making the entire string composed of lower cases.

B = 'Hello World!'
print(B.lower())

hello world!

In [101]:
# make upper keyword in each word of a string

AA = 'ana are mere'
print(AA.title())

Ana Are Mere

In [100]:
# Modify white spaces in a string

C = '  Hello, World!     '
print(C.strip())

Hello, World!

In [99]:
# Replace a string (keyword)

D = 'Hello, World!'
print(D.replace('H', 'J'))

Jello, World!

In [98]:
# Replace a string (word)

D = 'Hello, World!'
print(D.replace('Hello', 'Goodbye'))

Goodbye, World!

In [97]:
# Split one string into multiple strings

E = 'Hello, World!'
print(E.split(','))

['Hello', ' World!']

In [96]:
# Concatenate Strings

a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [95]:
# String Formating

quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [94]:
# String Escape Character

# If we want to write: txt = "We are the so-called "Vikings" from the north." =>> Error
# use \' to do so instead

txt = 'We are the so-called \'Vikings\' from the north.'
print(txt)

We are the so-called 'Vikings' from the north.

# Boolean

In [ ]:
#When you compare two values, the expression is evaluated and Python returns the Boolean answer.
# Also, it's used when using a condition in an if statement (because it also compares values)
# '=' is used to atribute a value to a variable. '==' is used to check if two different variables are equal.

In [112]:
# NON-IF expression

print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [111]:
A = 10
B = 20
print(A == B)

False

In [110]:
#IF Expression

C = 10
D = 15

if C > D:
    print('C este mai mare decat D')
else:
    print('C este mai mic decat D')

C este mai mic decat D

In [109]:
# Evaluating two variables

x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

# New Operators

In [113]:
#  ** Exponentiation	x ** y

x = 2
y = 5

print(x ** y) #same as 2*2*2*2*2

32

In [ ]:
#  //  Floor division	x // y

x = 15
y = 2

print(x // y)

#the floor division // rounds the result down to the nearest whole number

# Python Collections

In [ ]:
##  List is a collection which is ordered, allows duplicates, changable

##  Tuple is a collection which is ordered, allows duplicates, unchangable

##  Set is a collection which is unordered, doesn't allow duplicats, unchangable

##  Dictionary is a collection which is ordered, doesn't allow duplicates, and changeable.

# 1. Lists (General)

In [ ]:
# List items are ordered, changeable, and allow duplicate values. 
# List items are indexed, the first item has index [0], the second item has index [1] etc.
# Can contain any type of data

In [128]:
firstlist = ['apple', 'banana', 3, 5.2]
print(firstlist) #creating the list with the tipical brakets

['apple', 'banana', 3, 5.2]

In [127]:
firstlist = ['apple', 'banana', 3, 5.2]
print(len(firstlist)) #how many values are introduced in a list

4

In [126]:
firstlist = ['apple', 'banana', 3, 5.2]
print(type(firstlist)) #it's a class

<class 'list'>

# Accessing Lists

In [125]:
# Accessing Lists

firstlist = ["apple", "banana", 3, 5.2, 6.2, 4, 5, 6, 2 ,1 ,3 ,4 ,5 ,6 ,7 ,2]
print(firstlist[0:11]) # prints certain values from the list

['apple', 'banana', 3, 5.2, 6.2, 4, 5, 6, 2, 1, 3]

In [124]:
firstlist = ["apple", "banana", 3, 5.2, 6.2, 4, 5, 6, 2 ,1 ,3 ,4 ,5 ,6 ,7 ,2]
print(firstlist[-1]) # prints the last item from the list

2

In [123]:
# Change item values from a list

firstlist = ["apple", "banana", "cherry"]
firstlist[0] = "mar"
print(firstlist)

['mar', 'banana', 'cherry']

In [114]:
firstlist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
firstlist[1:3] = ["mar", "para"]
print(firstlist)

['apple', 'mar', 'para', 'orange', 'kiwi', 'mango']

In [122]:
firstlist = ["apple", "banana", "cherry"]
firstlist[0:1] = ["blackcurrant", "watermelon"] # must use a range representing the same value
print(firstlist)

['blackcurrant', 'watermelon', 'banana', 'cherry']

In [121]:
firstlist = ["apple", "banana", "cherry"]
firstlist[1:3] = ["watermelon"]
print(firstlist) #Change the second and third value by replacing it with one value:

['apple', 'watermelon']

In [120]:
firstlist = ["apple", "banana", "cherry"]
firstlist.insert(2, "watermelon")
print(firstlist) #Insert "watermelon" as the third item

['apple', 'banana', 'watermelon', 'cherry']

# Append Lists

In [119]:
# Add List Items (Append list items)

firstlist = ["apple", "banana", "cherry"]
firstlist.append("orange")
print(firstlist)

['apple', 'banana', 'cherry', 'orange']

In [118]:
# Extend List (add items from a list to another one)

firstlist = ["apple", "banana", "cherry"]
secondlist = ["mango", "pineapple", "papaya"]
firstlist.extend(secondlist)
print(firstlist) # doesn't include duplicated values. The extend() method does not have to append lists, 
                 # you can add any iterable object (tuples, sets, dictionaries etc.).

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [1]:
# example of append version with another list --- DON'T USE
firstlist = ["apple", "banana", "cherry"]
secondlist = ["mango", "pineapple", "papaya"]
firstlist.append(secondlist)
print(firstlist)

['apple', 'banana', 'cherry', ['mango', 'pineapple', 'papaya']]

# Delete Lists/ Remove items

In [117]:
# Delete List Items

thislist = ["apple", "banana", "cherry"]
thislist.remove('banana')
print(thislist)

['apple', 'cherry']

In [116]:
# Delete mentioned index

thislist = ["apple", "banana", "cherry"]
thislist.pop(0)
print(thislist)

['banana', 'cherry']

In [115]:
# Remove the last items from the list

thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [129]:
# Delete entire list

thislist = ["apple", "banana", "cherry"]
del thislist

In [130]:
# Clear the list content

thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

# To loop through the Lists

In [1]:
#Print all items in the list, one by one:

thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [2]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

# List Comprehension

In [ ]:
# List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

# Example:

# Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

# Without list comprehension you will have to write a for statement with a conditional test inside:

In [131]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"] # have an existing list
newlist = [] #create a new empty list

for x in fruits:                   #search through the list fruits
  if "a" in x:                     #condition
    newlist.append(x)              #add

print(newlist)                     #displaying

['apple', 'banana', 'mango']

# Sort Lists

In [3]:
# Sorting in ascending order by alphabet

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [4]:
# Sorting in ascending order by number

thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [5]:
# Sorting in descending order by alphabet

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

# Copy Lists

In [10]:
fruitslist = ["apple", "banana", "cherry"]
mylist = fruitslist.copy()
print(mylist)

# OR

fruitlist1 = ["apple", "banana", "cherry"]
mylist1 = list(fruitlist1)
print(mylist1)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']

# Join Lists

In [12]:
# in another list

list1 = [1,2,3]
list2 = ['a', 'b', 'c']

list3 = list1 + list2
print(list3)

[1, 2, 3, 'a', 'b', 'c']

In [15]:
#inbetween the analyzed lists

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for i in list2:              
  list1.append(i)            

print(list1)

#OR

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for i in list1:
    list2.append(i)
    
print(list2)

['a', 'b', 'c', 1, 2, 3]

## 2. Tuples (General)

In [22]:
# Are Ordered, Unchangable, and allow Duplicates.
# Contain round brackets.

In [19]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

# Access Tuples

In [25]:
# positive index access

thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [24]:
# negative index access

thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [26]:
# Range of Index (Similar tu Lists)

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

# Update Tuples

In [27]:
# Tuples are unchangable/immutable, but...
# you can change them by converting a tuple into a list and then the list into a tuple

x = ("apple", "banana", "cherry")

y = list(x)
y[0] = 'orange'

x = tuple(y)

print(x)

('orange', 'banana', 'cherry')

In [29]:
# Since tuples are unchangable/immutable, adding items to the collection is nearly impossible, yet....
# following the above method should allow this change. 

x = (3, 4, 5)

y = list(x)
y.append(6)

x = tuple(y)

print(x)

(3, 4, 5, 6)

In [34]:
# Adding a tupple to a tupple is allowed

thistuple = ("apple", "banana", "cherry")

y = ("orange",)

thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [36]:
# Removing items from a tupple request changing it into a list as well

thistuple = ("apple", "banana", "cherry")

y = list(thistuple)
y.remove("apple")

thistuple = tuple(y)

print(thistuple)

('banana', 'cherry')

In [37]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

# Unpacking a Tuple

In [39]:
fruits = ("apple", "banana", "cherry")

(apple, banana, cherry) = fruits

print(apple)
print(banana)
print(cherry)

apple
banana
cherry

# Joining Tuples is the same as Lists

# Tuple Methods

In [46]:
# Count method- shows how many times an item from a Tuple occurs -- tuple.count(value)

fruits = ("apple", "banana", "cherry")
x = fruits.count('banana')
print(x)

1

# 3. SETS (General)

In [3]:
# A set is a collection which is unordered (and unindexed), unchangeable,doesn't allow duplicates

In [4]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'banana', 'apple'}

In [5]:
# It is also possible to use the set() constructor to make a set.

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'banana', 'apple'}

# Accessing Sets

In [ ]:
# You cannot access items in a set by referring to an index or a key.
# You can loop through the set items using a for loop, or ask if a specified value is present in a set by using the 'in' keyword.

In [6]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
banana
apple

In [8]:
# Look for the word 'banana' in the set

thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

# Changing Sets

In [ ]:
#  Once a set is created, you cannot change its items, but you can add new items.

# Adding items to Sets

In [13]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange") # 'append' operator not working

print(thisset)

{'cherry', 'orange', 'banana', 'apple'}

In [15]:
# To add items from another set into the current set, use the update() method.

thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

# You can add to a set any kind of collection: list, tupple...

thisset2 = {"apple", "banana", "cherry"}
tropical2 = ["pineapple", "mango", "papaya"]

thisset2.update(tropical2)

print(thisset2)

{'pineapple', 'papaya', 'apple', 'cherry', 'mango', 'banana'}
{'pineapple', 'papaya', 'cherry', 'mango', 'banana', 'apple'}

# Remove items from Sets

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana") # or by using '.discard' method

print(thisset)

In [16]:
# remove the last item from the set

thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x) # to see which was the last item removed as sets are unordered (for bigger sets)

print(thisset) # to have a more clear picture about the set

cherry
{'banana', 'apple'}

In [17]:
# Empty the set (remove items)

thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [ ]:
# Del method will remove the set completely

thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

# Loop through Sets

In [ ]:
# by using 'for' akin to lists or tupples

# Join two sets

# Total Join

In [24]:
# by creating another set                    will exclude duplicated items (item 2- duplicated)

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3, 'a'}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'a', 'b'}

In [19]:
# by using the same analyzed sets             will exclude duplicated items (item 2- duplicated)

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'c', 'a', 'b'}

# Joining keeping only the duplicates

In [20]:
# Updating by KEEPING ONLY THE DUPLICATES (intersection) in the same analyzed sets

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [21]:
# Keeping only the intersactions in ANOTHER CREATED SET

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

# Joining excluding totally the duplicates

In [23]:
# Keep all except the Duplicates (item 1, item 2) - in the same analyzed sets

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'cherry', 'google', 'banana', 'microsoft'}

In [22]:
# Keep all except the Duplicates (item 1, item 2) - into anothet set

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'cherry', 'google', 'banana', 'microsoft'}

# Sets Methods

In [ ]:
# add()	Adds an element to the set

# clear()	Removes all the elements from the set

# copy()	Returns a copy of the set

# difference()	Returns a set containing the difference between two or more sets

# difference_update()	Removes the items in this set that are also included in another, specified set

# discard()	Remove the specified item

# intersection()	Returns a set, that is the intersection of two other sets

# intersection_update()	Removes the items in this set that are not present in other, specified set(s)

# isdisjoint()	Returns whether two sets have a intersection or not

# issubset()	Returns whether another set contains this set or not

# issuperset()	Returns whether this set contains another set or not

# pop()	Removes an element from the set

# remove()	Removes the specified element

# symmetric_difference()	Returns a set with the symmetric differences of two sets

# symmetric_difference_update()	inserts the symmetric differences from this set and another

# union()	Return a set containing the union of sets

# update()	Update the set with the union of this set and others

# Dictionary (General)

In [ ]:
# Dictionaries are used to store data values in key:value pairs.

In [1]:
# creating and printing

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964 
}

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [2]:
# printing a value for a key

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [3]:
# !!! Duplicated values will overwrite the existing values

# EX: 

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2025
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2025}

In [5]:
# The values in a dictionary can be of any data type

thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]       # list
}

print(thisdict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

# Accessing Items

In [10]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]         # OR x = thisdict.get("model")

print(x)

Mustang

In [11]:
# get the list of all keys

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict.keys()

print(x)

dict_keys(['brand', 'model', 'year'])

In [12]:
# add a new key and value into the dictionar

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [15]:
# Get a list of values

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict.values()

print(x)

dict_values(['Ford', 'Mustang', 1964])

In [17]:
# Make a change in the original dictionar

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

car["year"] = 2020

print(car) #after the change

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [18]:
# The items() method will return each item in a dictionary, as tuples in a list.

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict.items()

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [19]:
# !!! Check if a key is present in the dictionary 

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

# Change Items

In [21]:
# change year to 2018

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

# Adding Items

In [22]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

# Remove Items

In [23]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict.pop("model")   # OR del thisdict["model"]

print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [24]:
# deletes the last item from the dictionary

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict.popitem()

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [25]:
# Delete completely the dictionary

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict) #this will cause an error because "thisdict" no longer exists.

NameError: name 'thisdict' is not defined

In [26]:
# Clear completely the dictionary

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

# Loop through Dictionary

In [33]:
# print key and value

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 1964

In [32]:
# Print all key names in the dictionary, one by one

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for x in thisdict.keys():
  print(x)

brand
model
year

In [31]:
# Print all values in the dictionary, one by one:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for x in thisdict.values():
    print(x)

Ford
Mustang
1964

# Copy a Dictionary

In [35]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

mydict = thisdict.copy()               # OR     mydict = dict(thisdict)
                                       #        print(mydict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

# MORE USEFUL STUFF

# ELIF

In [2]:
a = 33
b = 33

if b > a:
  print("b is greater than a")
elif a == b:  #The elif keyword is pythons way of saying "if the previous conditions were not true, then try this condition".
  print("a and b are equal")

a and b are equal

# Else

In [1]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

# AND

In [3]:
a = 200
b = 33
c = 500
                                      #only if both conditions are met, the print will function
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

# OR

In [4]:
a = 200
b = 33
c = 500
                                                    # if only one of the both conditions is met, the print will function
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

# Nested IF:

In [7]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

# WHILE LOOPS

In [13]:
# while statement

i = 1

while i < 100:
  print(i)
  i += 10

1
11
21
31
41
51
61
71
81
91

In [ ]:
# while+ break+ if

i = 1

while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

In [14]:
# while+ continue+ if

i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [15]:
# while+ else

i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# FOR LOOPS

# Break

In [24]:
# ex: 1

fruits = ["apple", "banana", "cherry"]

for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana

In [25]:
# ex: 2

fruits = ["apple", "banana", "cherry"]

for x in fruits:
  if x == "banana":
    break
  print(x)

apple

# Continue

In [26]:
fruits = ["apple", "banana", "cherry"]

for x in fruits:
    if x == "banana":            # if x finds banana it will jump over it to the next item
        continue
    print(x)                     # if x is not banana it will be printed. When x is banana, it will
                                 # jump over it (continue)

apple
cherry

# Range

In [27]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [28]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [33]:
for x in range(6):
    if x == 3: 
        break
    print(x)
else:
    print("Finally finished!")
#If the loop breaks, the else block is not executed.

0
1
2

In [29]:
for x in range(6):
  print(x)
  if x == 3: 
        break
else:
  print("Finally finished!")
#If the loop breaks, the else block is not executed.

0
1
2
3

# Nested Loops

In [34]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

# Functions

In [35]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [1]:
# If you do not know how many arguments that will be passed into your function, 
# add a * before the parameter name in the function definition.

def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

# Keywords Arguments

In [36]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

# Replace an Arguments value with a List

In [37]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

# Return a value

In [38]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

# Loops:

In [18]:
squares= ['red', 'yellow', 'green', 'purple', 'blue', 'brown']
for i in range(0,5):
    squares[i] = 'white'
print(squares)

['white', 'white', 'white', 'white', 'white', 'brown']

# While:

cat timp instructiunea e adevarata, atunci executa tot ce este sub while, dupa care repeat operatiunea pana cand este indeplinita.

In [12]:
x=3
y=1 # -> becomes 2
while(y!= x):
    print(y)
    y=y+1

1
2

# Sum: execute a sum

In [15]:
x = [1,2,3,4,5,6]
y = sum(x)
print(y)

21

# Sorted => In the case of creation of another variable

In [16]:
x= [1,2,4,5,10,7,2]
y= sorted(x)
print (y)

[1, 2, 2, 4, 5, 7, 10]

# Sort: in the case of modification of the same variable

In [17]:
x= [1,2,4,5,10,7,2]
x.sort ()
print (x)

[1, 2, 2, 4, 5, 7, 10]

# Def:
Is used to define or declare a function

In [13]:
def adunare (a, b):
    c = a+b
    return c

result = adunare(5,6)
print(result)

a  = 5
b = 6
print(adunare(a,b))

11
11

In [22]:
def e_prim(nr): # nr este parametru/ argument al functiei
    gasit = True
    for i in range(2, nr//2+1):
        if nr % i == 0:
            gasit = False
    return gasit

a = 10 # variabila globala
print(e_prim(a))
#print(gasit) -- eroare deoarece este variabila LOCALA, se poate accesa doar in interiorul functiei

b = 17
print(e_prim(b))

False

NameError: name 'gasit' is not defined

# Def: with multiple parameters

In [22]:
def mult(a,b):
    c = a*b
    return c 

a = 2
b = 5
c = mult(a,b)
print(c)

10

In [25]:
def f():
    year = 1999
    print(year)
    
f()
print(year) # nu merge deoarece year este variabila locala (definita si utilizata doar in cadrul functiei)
# variabilele declarate in afara functiilor => variabile globale

1999

NameError: name 'year' is not defined

In [27]:
l = [2,6,7,3,6,8]

# for i in l:
#     print(i)
    
for i in range(len(l)):
    print(l[i])
    
    
print("ordine inversa")
for i in range(len(l)-1, -1, -1):
    print(l[i])

2
6
7
3
6
8
ordine inversa
8
6
3
7
6
2

In [37]:
A=['1','2','3']

for a in A:

    print(2*a)

11
22
33

# Mosh- Python Tutorial - Python for Beginners

In [6]:
year = int(input(' type your name here: ')) # or without int(input)
age = 2019 - year # but with 'int(year)'
print(age)

 type your name here: 2020
-1